@import "tailwindcss";

:root {
  --primary: #0A0A0A;
  --secondary: #FAFAFA;
  --tetriary: #D4D4D8;
  --neutral: #797676;

  --main-font: var(--inter);
  --secondary-font: var(--anonymus-pro);
}

body {
  background: var(--secondary);
  color: var(--primary);
  font-family: var(--main-font);
}

.primaryButton{
  padding: 0.8vw 3.2vw;
  border-radius: 0px;
  text-align: center;
  color: var(--secondary);
  background-color: var(--primary);

  transition: all 0.1s ease-in-out;
}

.primaryButton:hover{
  transform: scale(1.05);
  font-weight: bold;
}

.secondaryButton{
  padding: 0.8vw 3.2vw;
  border-radius: 0px;
  text-align: center;
  color: var(--primary);
  background-color: var(--tetriary);

  transition: all 0.1s ease-in-out;
}

.secondaryButton:hover{
  font-weight: bold;
  transform: scale(1.05);
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
